/* 
WIDTH:
    % -> Cuando usamos porcentaje usamos de referencia el tamaño del contenedor y el navegador calcula ese porcentaje. Esto no ocurre cuando usamos transform.

    auto -> Cuando usamos auto le pedimos al navegador que calcule el ancho en función del espacio disponible.

  HEIGHT:
    % -> Cuando estamos dentro de un contenedor, este tiene que tener un alto declarado, si no no podrá calcular el porcentaje. Si se le aplica una medida con porcentaje se sustituirá automaticamente por auto.

    auto -> Cuando utilizamos auto el alto lo calculará el navegador en base al contenido del elemento

  NOTA: Height es una propiedad que tenéis que usar con mucho cuidado. Si no es necesario establecer un alto, dejad que el contenido sea el que decida el alto del elemento.

*/

body{
  background-color: #333;  
  color: lightcoral;
  margin: 0px;
}
.text{
  
}
.box{
  width: auto;
  height: 200px;
  margin: 20px 10px 20px 10px;
  background-color: lightgreen;
  

}
.box-children{
    width: auto;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: lightblue;

}


.box2{
  
  width: auto;
  height: 300px;
  margin: 20px 10px 20px 10px;
  background-color: lightgreen;
  

}
.box-children2{
  position:sticky;
    width: 50%;
    height: 50%;
    background-color: lightblue;
   
 
}